fastapi==0.95.2
uvicorn[standard]==0.22.0
sqlmodel==0.0.8
sqlalchemy>=1.4
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
pydantic==1.10.11
python-jose[cryptography]==3.3.0
apscheduler==3.10.1
python-dateutil==2.8.2
PyJWT==2.8.0

# Frontend / misc
streamlit==1.25.0
requests==2.31.0
pandas==2.2.3
altair==5.0.1
streamlit-autorefresh==0.1.5
