fastapi==0.120.2
uvicorn==0.34.0
sqlmodel==0.0.27
SQLAlchemy==2.0.44
passlib==1.7.4
bcrypt==4.0.1
pydantic==2.9.2
APScheduler==3.11.0
python-dateutil==2.9.0.post0
PyJWT==2.9.0


streamlit==1.47.1
streamlit-autorefresh==1.0.1
requests==2.32.4
pandas==2.3.1
altair==5.5.0


 